.bg-color {
	background: #0a4d86;
}

.text-block {
	font-size: 30px;
	line-height: 35px;
	border: 1px solid;
	padding: 40px;
	overflow: hidden;
}

.loading-bar {
	position: absolute;
	height: 5px;
	background: #0c80df;
}